services:
  app:
    build: .
    volumes:
      - .:/app
    ports:
      - "8001:8001"
      - "8888:8888"
    environment:
      - PYTHONPATH=/app/src
    command: sh -c "python src/main.py & jupyter notebook --ip=0.0.0.0 --port=8888 --no-browser --allow-root --NotebookApp.token='' --NotebookApp.notebook_dir=/app"
